<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="../static/jquery-3.5.1.min.js"></script>
    <script language="javascript">
        function test () {
            $.ajax({
                type: "POST",
                url: "testM",      //你的controller地址
                data: {  },
                success: function (data) {

                }
            });
        }
        function register() {
            //1.获取需要提交的数据
            var name = $("#name").val();
            var pass = $("#pass").val();
            //2.通过ajax提交数据到“stu/add”
            $.post("test/register",{name:name,pass:pass},function(data){
                console.log(data);
            },"json");
        }
    </script>
</head>
<body>
<button onclick="test()">login</button>
<input type="text" name="name" />
<input type="text" name="pass" />
<button onclick="register()">register</button>
</body>
</html>