<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script language="javascript">
        function test() {
            $.ajax({
                type: "POST",
                dataType:"text",
                contentType: "application/json;charset=UTF-8",
                url: "http://127.0.0.1:8080/login",      //你的controller地址
                data: JSON.stringify({
                    "name":"jiangshijie0@qq.com",
                    "pass":"password"
                }),
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
</head>
<body>
<img src="../static/img/Ivy.png"><br>
<button onclick="test();">login</button><br>
<input type="date" id="today">
</body>
</html>